<h1 id="mycomposer-logo"><i class="fas fa-compact-disc"></i> MyComposer</h1>
<div *ngIf="isSignedUp; else signupForm">
    Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <div class="container">
    <div class="row col-sm-6" style="max-width: 350px;">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form">
            <div class="form-group">
                <i class="fas fa-user"></i>
                <label for="name">
                  <input type="text" placeholder="Your name" class="form-control register-control" id="name" name="name" [(ngModel)]="form.name" #name="ngModel" required />
                </label>
                <div *ngIf="f.submitted && name.invalid">
                    <div *ngIf="name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <i class="fas fa-user"></i>
                <label for="username">
                  <input type="text" placeholder="Username" class="form-control register-control" id="username" name="username" [(ngModel)]="form.username" #username="ngModel" required />
                </label>
                <div *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
              <i class="fas fa-envelope"></i>
                <label for="email">
                  <input type="text" placeholder="Email" class="form-control register-control" id="email" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
                </label>
                <div *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i>
                <label for="password">
                  <input type="password" placeholder="Password" class="form-control register-control" id="password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" />
                </label>
                <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary register-btn">Sign Up</button>
                <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                    Signup failed!<br/>{{errorMessage}}
                </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</ng-template>
