.container {
  margin-top: 50px;
  text-align:center;
}

.container .form {
  width: 400px;
  margin-left: 22em;
}

.form-group input{
  outline: none;
  background: none;
  border-bottom:2px solid #f1c40f;
}

.register-control {
  margin-bottom:10px;
  border: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

.register-btn {
  background: none;
  border:2px solid #f1c40f;
}

#mycomposer-logo {
  margin-top: 100px;
  text-align:center;
}

