<div id="navbar-header">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fas fa-compact-disc"></i><b> MyComposer</b></a>
      </div>
      <ul class="nav" routerLinkActive="active">
        <li *ngIf="authority === 'user'" class="nav-item"><a class="nav-link" routerLink="share"> <i class="fas fa-share-alt"></i> Share Board</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="home"> <i class="fas fa-home"></i> Home</a></li>
        <li *ngIf="authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="user"><i class="fas fa-user"></i> User Board</a>
        </li>
        <li *ngIf="authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li *ngIf="!authority" class="nav-item">
          <a class="nav-link" routerLink="auth/login"> <i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li *ngIf="loggedIn && authority">
          <button class="btn btn-secondary" (click)="logout()">
            <div *ngIf="loggedIn && loggingOut" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <i *ngIf="!loggingOut" class="fas fa-sign-out-alt"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
