.nav-link {
  color:white;
}

.navbar-brand {
  color:white;
}

.close-icon {
  color:white;
}

.spinner-border {
  height: 18px;
  width: 18px;
}

#navbar-header {
 background-color:#2c3e50;
 color: white;
 text-decoration: none
}
