.modal-content {
  background-color: #2c3e50;
  color:white;
  border:none;
}
  
.modal-song-btn {
  background: none;
  border:2px solid #f1c40f;
  color:white;
}
  
.modal-song-btn:hover {
  background-color:  #34495e;
  border:2px solid #f1c40f;
  color:white;
}
  
::placeholder {
  color: white;
  opacity: 10;
}
  
.x-close-btn {
  border:none;
}

.album-element {
  background-color: #253544;
  margin-top: 5px;
  font-size: 25px;
  border-radius: 5px;
  padding: 5px;
}

.album-element:hover {
  background-color: #4b6986;
  cursor: pointer;
}