<ng-template #modalForAlbumSelect let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fas fa-music"></i> Select album </h4>
            <button type="button" class="btn btn-outline-dark modal-song-btn" aria-label="Close"
                (click)="modal.close('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngFor="let album of albums">
                <div (click)="onAlbumSelect(album)" class="album-element"><i class="fas fa-compact-disc"></i> {{album.title}}</div>
            </div>
            <div class="modal-footer">
                <div class="modal-title" *ngIf="selectedAlbum"><i class="fas fa-compact-disc"></i> Selected album:
                    {{selectedAlbum.title}} </div>
                <button type="submit" class="btn btn-outline-dark modal-song-btn"
                    (click)="submitSelectedAlbum()">Select</button>
                <button type="button" class="btn btn-outline-dark modal-song-btn"
                    (click)="modal.close('Close click')">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>
