<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><i class="fas fa-music"></i> {{modalTitle}}</h4>
      <button type="button" class="btn btn-outline-dark modal-song-btn" aria-label="Close" (click)="modal.close('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Album cover</label>
      <i *ngIf="!imageSrc" class="fas fa-image default-image-icon"></i>
      <div *ngIf="imageSrc" >
        <img [src]="imageSrc" *ngIf="!isImageLoading">
      </div>
      <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <button *ngIf="imageSrc" type="button" class="btn btn-outline-dark modal-song-btn" aria-label="Close" (click)="deleteImage()">
            <span aria-hidden="true">&times;</span>
          </button>
          <input type="file" accept="image/*" (change)="onImageSelected($event)">
        </div>
        <div class="form-group">
          <label for="title">Album title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter song title" formControlName="title">
        </div>
        <div class="form-group">
          <label for="albumDescription">Description</label>
          <textarea class="form-control" id="albumDescription" rows="3" placeholder="Enter album description" formControlName="description"></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark modal-song-btn" [disabled]="!albumForm.valid">{{submitBtn}}</button>
          <button type="button" class="btn btn-outline-dark modal-song-btn" (click)="modal.close('Close click')">Close</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
