ul {
  float: left;
  width: 300px;
  list-style-type: none;
  margin-left: -10px;
}

li {
  margin-top: 5px;
  background-color: #34495e;
  border: none;
  color:white;
  cursor: pointer;
  transition:0.8s;
  text-transform: uppercase;
}

li:hover {
  transition:0.8s;
  background-color:#415c78;
  transform: scale(1.03);
  color:white;
}

li.selected {
  background-color: #2c3e50;
  color: white;
}

.lists-header {
  background-color: #34495e;
  color:white;
  text-align:center;
}

input {
  width: 300px;
}

input[type=text] {
  background-color: #C2C2C2;
  color: white;
  border:none;
  border-radius: 10px;
}

.delete-album-btn {
  color:white;
  float:right;
}

.edit-album-btn {
  color:white;
  float:right;
}

.add-btn {
  color:white;
  border-radius: 20px;
  background-color: #2c3e50;
  border:none;
}

.add-btn:hover {
  color:white;
  background-color: #2c3e50;
}

.album-title {
  float:left;
  margin-top:5px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.close {
  color:white;
}

/* Modal styles*/

.modal-content {
  background-color: #2c3e50;
  color:white;
  border:none;
}

.modal-song-btn {
  background: none;
  border:2px solid #f1c40f;
  color:white;
}

.modal-song-btn:hover {
  background-color:  #34495e;
  border:2px solid #f1c40f;
  color:white;
}

::placeholder {
  color: white;
  opacity: 10;
}

.x-close-btn {
  border:none;
}

/* Search styles*/

.album-search-input {
  width: 100%;
  color:white;
  background-color: #415c77;
  border: none;
  height: 45px;
  outline: none;
  padding-left: 10px;
}

.album-search-input:focus {
  outline: solid;
  outline-color: #e6d264;
  outline-width: 2px;
}

.search-input-container {
  display: flex;
  width: 100%;
  margin-top: 1px;
}

.icon {
  padding-top: 15px;
  background: #354b61;
  color: white;
  min-width: 50px;
  text-align: center;
}

