<ul class="list-group">
  <div class="list-group-item lists-header">
    ALBUMS
  </div>
  <div class="search-input-container">
    <i class="fas fa-search icon"></i>
    <input type="search" class="album-search-input" placeholder="Search album" [(ngModel)]="albumSearchValue"/>
  </div>
  <li *ngIf="!albums" class="text-center">
    <div class="spinner-border m-2" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </li>
  <li class="list-group-item list-group-item-action" *ngFor="let album of albums | filter:albumSearchValue"
      [class.selected]="album === selectedAlbum"
      (click)="onSelect(album)">
    <div class="album-title">
      <i class="fas fa-compact-disc"></i> {{album.title}}
    </div>
    <button class="btn delete-album-btn" (click)="openDeleteConfirmationModal(album)">
      <i class="far fa-times-circle"></i>
    </button>
    <button class="btn edit-album-btn" (click)="openAlbumEditor(album)">
      <i class="far fa-edit"></i>
    </button>
  </li>
  <li class="add-btn">
    <button class="btn add-btn" (click)="openModalForCreateAlbum()">
      <i class="fas fa-plus-circle"></i>
      Add album
    </button>
  </li>
</ul>

<ng-template #confirmationModalForAlbum let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><i class="fas fa-music"></i> Delete album </h4>
      <button type="button" class="btn btn-outline-dark modal-song-btn" aria-label="Close" (click)="modal.close('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want delete <span class="text-primary">"{{albumToDelete.title}}"</span> album ?</p>
      <span class="text-warning">This operation can not be undone.</span>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark modal-song-btn" (click)="deleteAlbum()">Delete</button>
        <button type="button" class="btn btn-outline-dark modal-song-btn" (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<app-song [album]="selectedAlbum"></app-song>
<app-album-editor (addedAlbumEvent)="getAlbumsList($event)"></app-album-editor>
