<div class="post-editor">
    <div class="post-editor-header">
        POST EDITOR
        <button class="add-album-btn" (click)="openSelectAlbumModal()">Add album</button>
    </div>
    <form [formGroup]="postEditorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <textarea class="post-editor-textarea" rows="4" placeholder="Enter your message"
                formControlName="message"></textarea>
            <div class="shared-album" *ngIf="albumToAdd">
                Selected Album: <i class="fas fa-compact-disc"> </i> {{albumToAdd.title}}
            </div>
            <div class="shared-album" *ngIf="!albumToAdd">
                <i class="fas fa-compact-disc"> </i> No album selected
            </div>
        </div>
        <div class="post-editor-footer">
            <button class="post-editor-submit-btn" type="submit">Share</button>
        </div>
    </form>
</div>

<app-album-select (selectedAlbumEvent)="onAlbumSelect($event)"></app-album-select>