.post-editor {
    box-shadow: 0 0 5px #5c5a5af1;
    border-radius: 5px 5px 5px 5px;
}

.post-editor-textarea {
    width: 100%;
    background-color: #34495e;
    color:white;
    border: none;
    outline: none;
    resize: none;
}

.post-editor-header {
    background-color: #1e2a36;
    margin-top: 10px;
    padding: 5px; 
    border-radius: 5px 5px 0 0;
}

.post-editor-footer {
    background-color: #1e2a36;
    margin-top: -16px;
    padding: 2px;
    border-radius: 0 0 5px 5px;
}

.shared-album {
    height: 25px;
    margin-top: -7px;
    background-color: #2d3e50;
    padding: 2px;
}

.add-album-btn {
    float: right;
    height: 20px;
    font-size:12px;
    color:white;
    border: none;
    background-color: #2d3e50;
}

.add-album-btn:hover {
    background-color: #34485e;
}

.post-editor-submit-btn {
    color:white;
    border: none;
    background-color: #2d3e50;
    font-size: 20px;
    padding: 3px;
    margin: 2px;
}

.post-editor-submit-btn:hover {
    background-color: #34485e;
}