@import url(//fonts.googleapis.com/css?family=Montserrat);

body {
  color:white;
  background-image: linear-gradient(120deg, #487eb0, #fbc531);
  min-height:100vh;
  font-family: 'Montserrat', sans-serif;
  grid-template-rows: 1fr auto;
}

.page-footer {
  background-color: #2c3e50;
  color:white;
  margin-top: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.page-footer a {
  color:white;
}



