<app-header></app-header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-1">© 2019-2020 Copyright:
    <a href="https://gitlab.com/DamianRad/mycomposer"> MyComposer</a>
  </div>
</footer>
