<h1 id="mycomposer-logo"><i class="fas fa-compact-disc"></i><b> MyComposer</b></h1>
<div *ngIf="isLoggedIn; else loggedOut">
    <button type="button" class="btn btn-primary btn-lg">Go to album list</button>
</div>
<ng-template #loggedOut>
  <div class="container">
    <div class="row col-sm-6">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form ">
                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <label for="username">
                      <input type="text" class="form-control login-control" placeholder="Username" id="username" name="username" [(ngModel)]="form.username" #username="ngModel" required />
                    </label>
                    <div *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <i class="fas fa-lock"></i>
                    <label for="password">
                      <input type="password" class="form-control login-control" placeholder="Password" id="password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" />
                    </label>
                    <div *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary login-btn">
                      <div *ngIf="!isLoggedIn && !isLoginFailed && loginInfo" class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      Login
                    </button>
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                        Login failed: {{errorMessage}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p>Don't have an account?</p>
    <a href="signup" class="btn btn-success login-btn">Sign Up</a>
  </div>
</ng-template>
