.form-group input {
  outline: none;
  background: none;
  border:2px solid #f1c40f;
  color:white;
}

.form-group textarea {
  outline: none;
  background: none;
  border:2px solid #f1c40f;
  color:white;
}

.modal-content {
  background-color: #2c3e50;
  color:white;
  border:none;
}

.modal-song-btn {
  background: none;
  border:2px solid #f1c40f;
  color:white;
}

.modal-song-btn:hover {
  background-color:  #34495e;
  border:2px solid #f1c40f;
  color:white;
}

::placeholder {
  color: white;
  opacity: 10;
}

.x-close-btn {
  border:none;
}






