<ng-template #content let-modal>
<div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><i class="fas fa-music"></i> {{modalTitle}}</h4>
      <button type="button" class="btn btn-outline-dark modal-song-btn" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-music-player (selectedMusicFile)="onMusicFile($event)" [songId]="songId" [albumId]="albumId" [selectedSong]="selectedSong" [isPreviewMode]="false"></app-music-player>
    <div class="modal-body">
      <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Song title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter song title" formControlName="title">
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" class="form-control" id="author" placeholder="Enter author name" formControlName="author">
        </div>
        <div class="form-group">
          <label for="songText">Song text</label>
          <textarea class="form-control" id="songText" rows="3" placeholder="Enter song text" formControlName="text"></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark modal-song-btn" [disabled]="!songForm.valid">{{submitBtnLabel}}</button>
          <button type="button" class="btn btn-outline-dark modal-song-btn" (click)="closeModal()">Close</button>
        </div>
      </form>
    </div>
</div>
</ng-template>


