.modal-content {
    background-color: #2c3e50;
    color:white;
    border:none;
  }
  
  .modal-song-btn {
    background: none;
    border:2px solid #f1c40f;
    color:white;
  }
  
  .modal-song-btn:hover {
    background-color:  #34495e;
    border:2px solid #f1c40f;
    color:white;
  }
  
  ::placeholder {
    color: white;
    opacity: 10;
  }
  
  .x-close-btn {
    border:none;
  }

  .song-element {
    background-color: #253544;
    margin-top: 5px;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
  }

  .song-text textarea{
    width:100%; 
    height:100%;
    color: white;
    background-image: linear-gradient(120deg, #3a6186, #89253e);
    border: none;
    border-radius: 5px;
    padding: 10px;
  }