<ng-template #modalAlbumPreview let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fas fa-music"></i> Preview for {{previewAlbum.title}} </h4>
            <button type="button" class="btn btn-outline-dark modal-song-btn" aria-label="Close"
                (click)="modal.close('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Songs list:
            <div *ngFor="let song of songs; let songIndex = index">
                <div (click)="onSongSelect(songIndex)" class="song-element"><i class="fas fa-record-vinyl"></i> {{song.title}}</div>
                <div class="song-detials" *ngIf="currentSelectedSong == songIndex">
                    <div class="song-music-player" *ngIf="showMusicPlayer">
                        <app-music-player (selectedMusicFile)="musicFile" [songId]="song.id" [albumId]="previewAlbum.id" [selectedSong]="song" [isPreviewMode]="true"></app-music-player>
                    </div>
                    <div class="song-text">
                        Song text: <br>
                        <textarea rows="18" readonly>{{song.text}}</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark modal-song-btn"
                    (click)="modal.close('Close click')">Back</button>
            </div>
        </div>
    </div>
</ng-template>
