.post {
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #5c5a5af1;
    /* display: flex; for user icon in one line with post content */
    display: flex;
    background-image: linear-gradient(120deg, #3a6186, #89253e);
}

.post-delete-btn {
    float: right;
    margin-bottom: 20px;
    cursor: pointer;
}

.post-user-section {
    background-color: #34495e;
    padding: 1px;
    flex: 0 0 10%;
    border-radius: 5px 5px 0 0;
}

.post-user-icon {
    font-size: 70px;
    text-align: center;
}

.post-username {
    font-size: 12px;
    text-align: center;
}

.post-body {
    flex: 1;
    padding: 10px;
}

.post-message {
    background-image: linear-gradient(120deg, #34495e, #2c4b68);
    padding: 10px;
    margin-top:30px
}

.post-selected-album {
    background-color: #2d3e50;
}

.post-selected-album:hover {
   background-color: #4b6986;
   cursor: pointer;
}

.post-comments-btn {
    float: right;
    cursor: pointer;
    background-color: #253544;
    padding: 4px;
    border-radius: 5px;
}

.post-comments-btn:hover {
    background-color: #4b6986;
}

.post-date {
    font-size: 10px;
}

.post-footer {
    margin-top: 5px;
}

/* COMMENT EDITOR*/

.post-comment-editor-textarea {
    width: 100%;
    background-color: #34495e;
    color:white;
    margin-top: 1px;
    border: none;
}

.post-editor-footer {
    background-color: #4b6986;
    margin-top: -23px;
}

.post-editor-submit-btn {
    height: 20px;
    font-size:12px;
    color:white;
    border: none;
    background-color: #2d3e50;
}

.post-editor-submit-btn:hover {
    background-color: #34485e;
}

/* COMMENTS SECTION*/

.post-comment{
    margin-bottom: 1px;
    display: flex;
}

.post-comments-list {
    width: 90%;
    margin-bottom: 2px;
}

.post-comment-header {
    border-bottom: 1px solid rgb(156, 152, 152);
}

.post-comment-user-image {
    background-color: #34495e;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.post-comment-content {
    background: linear-gradient(120deg, #3a6186, #89253e);;
    padding: 10px;
    width: 100%;
}

.post-comment-date {
    font-size: 10px;
}

.post-comment-message {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* LIKE NOTES */

.post-listened-number {
    cursor: pointer;
    margin-top: 5px;
}

.post-listened-number:hover {
    color: #c4c4c4;
}



  