<div class="container">
    <app-post-editor (addedPostEmiter)="updatePostsList($event)"></app-post-editor>
    <div class="posts" *ngFor="let post of posts; let postIndex = index">
        <div class="post">
            <div class="post-user-section">
                <div class="post-user-icon">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div class="post-username">
                    {{post.username}}
                </div>
            </div>
            <div class="post-body">
                <div *ngIf="post.userId == userId" class="post-delete-btn" (click)="deletePost(postIndex)">
                    <i class="far fa-trash-alt"></i>
                </div>
                <div class="post-message">
                    {{post.message}}
                </div>
                <div *ngIf="post.album" class="post-selected-album" (click)="openAlbumPreviewModal(post.album)">
                    <i class="fas fa-compact-disc"> </i> {{post.album.title}}
                </div>
                <div class="post-footer">
                    <div class="post-date">
                        Posted: {{post.postDate}}
                    </div>
                    <span class="post-listened-number">
                        <i class="fas fa-music" (click)="likePost(postIndex)"></i> {{post.totalLikes}}
                    </span>
                    <span class="post-comments-btn" (click)="commentClick(postIndex)">
                        Comments
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="showCommentSection === postIndex" class="post-comment-editor">
            <form [formGroup]="commentEditorForm" (ngSubmit)="addComment(postIndex)">
                <div class="form-group">
                    <textarea class="post-comment-editor-textarea" rows="4" placeholder="Enter your message"
                        formControlName="commentMessage"></textarea>
                </div>
                <div class="post-editor-footer">
                    <button class="post-editor-submit-btn" type="submit">Add comment</button>
                </div>
            </form>
        </div>
        <div *ngIf="showCommentSection === postIndex" class="post-comments-list">
            <div *ngFor="let comment of comments[postIndex]">
                <div class="post-comment">
                    <div class="post-comment-user-image">
                        <i class="fas fa-user-circle"> </i>
                    </div>
                    <div class="post-comment-content">
                        <div class="post-comment-header">
                            {{comment.username}}
                        </div>
                        <div class="post-comment-message">
                            {{comment.commentMessage}}
                        </div>
                        <div class="post-comment-footer">
                            <div class="post-comment-date">Posted: {{comment.commentDate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-album-preview></app-album-preview>