.mat-toolbar {
  border-radius:10px;
}

.mat-icon {
  height: 160px !important;
  width: 160px !important;
  font-size: 160px !important;
}

.logo {
  margin: 2.5rem;
  text-align: center;
  font-size: 24px;
  color: #3f51b5;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-btn {
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
}

.time-slider {
  width: 100% !important;
  margin-left: 20px;
  margin-right: 20px;
  color:white;
}

.mat-icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}

.media-action-bar {
  width: 100%;
  padding: 2.5rem;
  justify-content: center;
  background-image: linear-gradient(120deg, #3a6186, #89253e);
}

.media-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-toolbar {
  background-image: linear-gradient(120deg, #3a6186, #89253e);
}

.time-slider-row {
  background-image: linear-gradient(120deg, #3a6186, #89253e);
}

.songs-list {
  background-image: linear-gradient(120deg, #3a6186, #89253e);
}
