<div class="container">
  <div class="content" *ngIf="showMusicPlayer">
    <mat-list color="primary" *ngIf="!isPreviewMode">
      <mat-list-item class="songs-list" *ngFor="let file of files; let i = index" (click)="openFile(file, i)">
        <mat-icon color="white" mat-list-icon>music_note</mat-icon>
        <h4 mat-line>{{ songMusicTitle }}</h4>
        <mat-icon color="primary" *ngIf="currentFile.index === i && !state?.error">volume_up</mat-icon>
        <h6 *ngIf="currentFile.index === i && state?.error">ERROR</h6>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="showMusicPlayer">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="time-slider-row">
        {{ state?.readableCurrentTime }}
        <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile.index === undefined"></mat-slider>
        {{ state?.readableDuration }}
      </mat-toolbar-row>
      <mat-toolbar-row class="media-action-bar">
        <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button (click)="pause()" *ngIf="state?.playing">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
        <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="custom-file" *ngIf="!isPreviewMode">  
    <input type="file" class="custom-file-input" id="customFileLang" accept="audio/*" lang="eng" (change)="onMusicSelected($event)">
    <label class="custom-file-label" for="customFileLang">Upload music file</label>
  </div>
</div>
