.lists-header {
  background-color: #34495e;
  color:white;
  margin-left:300px;
  text-align:center;
  margin-top: 5px;
}

ul {
  float: left;
  list-style-type: none;
  margin-left: 5px;
}

li {
  margin-top: 5px;
  background-color: #565656;
  border: none;
  color:white;
  border-radius: 10px;
}

input[type=text] {
  background-color: #C2C2C2;
  color: white;
  border:none;
  border-radius: 10px;
}

.spinner {
  color: white;
}

.spinner .spinner-border {
  width: 5rem;
  height: 5rem;
}

.song-card {
  margin-left:100px;
  margin-top:20px;
  background-image: linear-gradient(120deg, #3a6186, #34495e);
  opacity: 0.8;
  border:none;
  max-width: 18rem;
  min-width: 18rem;
  box-shadow: 0px 0px 20px #000000b3;
  min-height: 14rem;
}

.song-vinyl-icon {
  font-size: 11em;
  text-align:center;
}

.card-text {
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
   overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
  transition:0.8s;
}

.close {
  color:white;
}

.delete-song-btn {
   color: white;
   float:right;
}

.edit-btn {
  color:white;
  cursor: pointer;
  float: right;
  margin-top: 5px;
}

.add-song-btn {
  border-radius: 200px;
  margin-left:160px;
  margin-top:140px;
  background-image: linear-gradient(180deg, #3a6186, #34495e);
  border:none;
  font-size:100px;
  text-align:center;
  max-width: 10rem;
  min-width: 10rem;
  max-height: 10rem;
  min-height: 10rem;
  padding-top:10px;
  cursor: pointer;
}

.song-title {
  float:left;
  margin-top:5px;
  float: left;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 180px;
}

/* Modal styles*/

.modal-content {
  background-color: #2c3e50;
  color:white;
  border:none;
}

.modal-song-btn {
  background: none;
  border:2px solid #f1c40f;
  color:white;
}

.modal-song-btn:hover {
  background-color:  #34495e;
  border:2px solid #f1c40f;
  color:white;
}

::placeholder {
  color: white;
  opacity: 10;
}

.x-close-btn {
  border:none;
}

/* Search styles*/

.song-search-input {
  width: auto;
  color:white;
  background-color: #415c77;
  border: none;
  height: 45px;
  outline: none;
  padding-left: 10px;
}

.song-search-input:focus {
  outline: solid;
  outline-color: #e6d264;
  outline-width: 2px;
}

.search-input-container {
  float: right;
  margin-top: -11px;
  margin-right: -18px;
}

.icon {
  padding-top: 15px;
  background: #354b61;
  color: white;
  min-width: 50px;
  text-align: center;
  height: 45px;
}







