<div class="list-group-item lists-header">
  <span>
    SONGS FOR "{{albumTitle}}"
  </span>
  <span class="search-input-container">
    <input type="search" class="song-search-input" placeholder="Search song" [(ngModel)]="songSearchValue" />
    <i class="fas fa-search icon"></i>
  </span>
</div>

<div *ngIf="album" class="card-deck">
  <div *ngFor="let song of songs | filter:songSearchValue">
    <div class="card text-white song-card">
      <i class="fas fa-record-vinyl song-vinyl-icon"></i>
      <div class="card-header">
        <div class="song-title">
          <i class="fas fa-music"></i> {{song.title}}
        </div>
        <div class="edit-btn" (click)="openUpdateSongEditor(song)">
            <i class="far fa-edit"></i>
        </div>
      </div>
      <div class="card-body">
        <h6 class="card-title">Author: {{song.author}}</h6>
      </div>
      <div class="delete-song-btn">
        <button class="btn delete-song-btn" (click)="openDeleteConfirmationModal(song)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </div>
    
  </div>
  <div class="card text-white add-song-btn" (click)="openCreateSongEditor()">+
  </div>
</div>

<div *ngIf="!songs && album" class="text-center spinner">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<ng-template #confirmationModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><i class="fas fa-music"></i> Delete song </h4>
      <button type="button" class="btn btn-outline-dark modal-song-btn" aria-label="Close"
        (click)="modal.close('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want delete <span class="text-primary">"{{songToDelete.title}}"</span> song ?</p>
      <span class="text-warning">This operation can not be undone.</span>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark modal-song-btn" (click)="deleteSong()">Delete</button>
        <button type="button" class="btn btn-outline-dark modal-song-btn"
          (click)="modal.close('Close click')">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<app-song-editor (addedSongEvent)="getSongsList($event)"></app-song-editor>