<div *ngIf="info.token; else loggedOut">
    <app-album></app-album>
</div>

<ng-template #loggedOut>
    <div class="main-view">
      <div class="main-view-header">
        <h1><b>Welcome in MyComposer</b></h1>
      </div>
      <div class="main-view-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, massa eu hendrerit fermentum, arcu mi ultricies lacus, id convallis est urna nec lacus. Aliquam quis odio libero. Donec finibus ultricies euismod. Sed dictum pulvinar sem, id lacinia metus lobortis vel. Maecenas feugiat tristique urna vitae tristique.
      </div>
      <div class="main-view-buttons">
        <button type="button" class="btn btn-primary btn-lg sign-in-up-btn"><a href="/auth/login">Sign In</a></button> or
        <button type="button" class="btn btn-primary btn-lg sign-in-up-btn"><a href="signup">Sign Up</a></button>
      </div>
    </div>
</ng-template>

