.main-view-header {
  text-align:center;
  margin-top:300px;
}

.main-view-paragraph {
  margin:auto;
  text-align:center;
  width:50%
}

.main-view-buttons {
  text-align:center;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.sign-in-up-btn {
  background: none;
  border:2px solid #f1c40f;
}

