.form-group {
  margin-top: 10px;
}

.form-group input {
  outline: none;
  background: none;
  border-bottom:2px solid #f1c40f;
  color:white;
}

input[type='file']::-webkit-file-upload-button{
  background: none;
  border:2px solid #f1c40f;
  color:white;
}

input[readonly] {
  background-color:black;
}

img {
  border-radius: 50%;
  margin-left:450px;
  margin-top:20px;
  margin-bottom:20px;
}

.user-default-icon {
  align: center;
  text-align:center;
  margin-left:450px;
  margin-top:20px;
  margin-bottom:20px;
}

.settings-submit-btn {
  background: none;
  border:2px solid #f1c40f;
  color:white;
}

.nav-tabs {
  margin-top:10px;
}




