<div class="container">
  <i *ngIf="!imageSrc" class="fas fa-user-circle fa-10x user-default-icon"></i>
  <div *ngIf="imageSrc" >
    <img [src]="imageSrc" *ngIf="!isImageLoading">
  </div>
  <input type="file" accept="image/*" (change)="onImageSelected($event)">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item nav-user-board-tabs">
      <a (click)="selectedTab = 'userBoard'" class="nav-link active" id="user-board-tab" data-toggle="tab" role="tab" aria-controls="userBoard" aria-selected="true" [ngClass]="{ 'active':selectedTab==='userBoard'}">Home</a>
    </li>
    <li class="nav-item nav-user-board-tabs">
      <a (click)="selectedTab = 'settings'" class="nav-link" id="settings-tab" data-toggle="tab" role="tab" aria-controls="settings" aria-selected="false" [ngClass]="{ 'active':selectedTab==='settings'}">Settings</a>
    </li>
    <li class="nav-item nav-user-board-tabs">
      <a (click)="selectedTab = 'activity'" class="nav-link" id="activity-tab" data-toggle="tab" role="tab" aria-controls="activity" aria-selected="false" [ngClass]="{ 'active':selectedTab==='activity'}">Activity</a>
    </li>
    <li class="nav-item nav-user-board-tabs">
      <a (click)="selectedTab = 'statistics'" class="nav-link" id="statistics-tab" data-toggle="tab" role="tab" aria-controls="statistics" aria-selected="false" [ngClass]="{ 'active':selectedTab==='statistics'}">Statistics</a>
    </li>
  </ul>

  <div class="tab-content">
    <div *ngIf="selectedTab === 'userBoard'" class="tab-pane active" id="userBoard" role="tabpanel">
      <form [formGroup]="userForm" #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username"><b>Username</b></label>
          <input type="text" class="form-control readonly-user-input" id="username" formControlName="username" readonly>
          <p><i><font size="2">Username is readonly</font></i></p>
        </div>
        <div class="form-group">
          <label for="name"><b>Name</b></label>
          <input type="text" class="form-control user-input" id="name" placeholder="Enter name" formControlName="name">
          <p><i><font size="2">Your name is visible for other users.</font></i></p>
        </div>
        <div class="form-group">
          <label for="email"><b>Email address</b></label>
          <input type="email" class="form-control user-input" id="email" placeholder="Enter email" formControlName="email">
        </div>
        <button type="submit" class="btn settings-submit-btn">
          <div *ngIf="isUpdateComplete" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          Submit
        </button>
        <div *ngIf="f.submitted && updateUserFailed" class="alert alert-warning">
          Update failed!<br/>{{errorMessage}}
        </div>
      </form>
    </div>
    <div *ngIf="selectedTab === 'settings'" class="tab-pane active" id="settings" role="tabpanel">Settings will be available in the future.</div>
    <div *ngIf="selectedTab === 'activity'" class="tab-pane active" id="activity" role="tabpanel">Activity will be available in the future.</div>
    <div *ngIf="selectedTab === 'statistics'" class="tab-pane active" id="statistics" role="tabpanel">Statistics will be available in the future.</div>
  </div>
</div>
